.advantages-slider-slide {
  $header_margin-bottom: rem(77px);

  $title_text-indent: rem(-6px);

  $body_max-width: 340px;
  $body_margin-bottom: rem(48px);

  $footer_font-family: $font-family-gl-interstate;
  $footer_line-height: $line-height-sm;
  $footer_font-weight: $font-weight-bold;
  $footer_font-size: rem(22px);

  $title_max-lg_font-size: rem(45px);

  $body_max-lg_margin-bottom: rem(45px);

  $footer_max-sm_font-size: rem(18px);

  overflow: hidden;

  &__header {
    margin-bottom: $header_margin-bottom;

    @include media-max(lg) {
      margin-bottom: rem(62px);
    }

    @include media-max(sm) {
      display: none;
    }
  }

  &__title {
    @include media-max(lg) {
      font-size: $title_max-lg_font-size;
    }

    @include media-max(sm) {
      display: none;
    }
  }

  &__body {
    max-width: $body_max-width;
    margin-bottom: $body_margin-bottom;

    & > *:not(:last-child) {
      margin-bottom: 1em;
    }

    @include media-max(lg) {
      margin-bottom: $body_max-lg_margin-bottom;
    }

    @include media-max(sm) {
      margin-bottom: rem(24px);

      font-size: rem(18px);
    }
  }

  &__footer {
    font-family: $footer_font-family;
    line-height: $footer_line-height;
    font-weight: $footer_font-weight;
    text-transform: uppercase;
    font-size: $footer_font-size;

    @include media-max(sm) {
      font-size: $footer_max-sm_font-size;
    }
  }
}
