.advantages-slider {
  $this_margin-top: -rem(15px);
  $this_max-lg_margin-top: -rem(10px);

  margin-top: $this_margin-top;

  @include media-max(lg) {
    margin-top: $this_max-lg_margin-top;
  }

  &__slides {
    margin: 0;
    padding: 0;

    list-style: none;
  }
}
