.about-page {
  $section-title_font-size: rem(26px);
  $section-title_line-height: $line-height-sm;

  &__section-title {
    font-size: $section-title_font-size;
    line-height: $section-title_line-height;
  }
}
