.advantages-slide-switcher {
  &__inner {
    @include media-max(sm) {
      justify-content: flex-end;
    }
  }

  &__buttons {
    @include media-max(sm) {
      flex-direction: column;
      align-self: flex-end;

      margin: 0;
    }
  }

  &__button {
    @include media-max(sm) {
      padding: rem(8px) rem(10px);
    }

    &:not(:last-child) {
      @include media-max(sm) {
        margin: 0 0 rem(6px) 0;
      }
    }

    &_prev &-icon {
      @include media-max(sm) {
        transform: rotate(90deg);
      }
    }

    &_next &-icon {
      @include media-max(sm) {
        transform: rotate(90deg);
      }
    }
  }

  &__timer {
    @include media-max(sm) {
      display: none;
    }
  }
}
