$transition-duration-fast: 0.1s;
$transition-duration-medium: 0.2s;
$transition-duration-slow: 0.4s;
$transition-duration-slowest: 1s;

$transition-fast-ease: $transition-duration-fast ease;
$transition-fast-ease-in: $transition-duration-fast ease-in;
$transition-fast-ease-out: $transition-duration-fast ease-out;

$transition-medium-ease: $transition-duration-medium ease;
$transition-medium-ease-in: $transition-duration-medium ease-in;
$transition-medium-ease-out: $transition-duration-medium ease-out;

$transition-slow-ease: $transition-duration-slow ease;
$transition-slow-ease-in: $transition-duration-slow ease-in;
$transition-slow-ease-out: $transition-duration-slow ease-out;

$transition-slowest-ease: $transition-duration-slowest ease;
$transition-slowest-ease-in: $transition-duration-slowest ease-in;
$transition-slowest-ease-out: $transition-duration-slowest ease-out;

$theme-text-color-transition: color 0.4s;
